.travels-page {
    padding-top: 104px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    .content-container {
        margin: 0px 100px;
        margin-bottom: 20px;

        border-radius: 15px;
        background: var(--white, #F6F6F6);

        min-height: 100vh;

        padding: 30px;

        display: flex;
        flex-direction: column;

        .header {
            color: var(--blue, #08B1BD);

            font-family: "Montserrat Alternates";
            font-size: 22px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;

            margin-bottom: 30px;
        }
        
        .reservation-travels {
            color: var(--grey-dark, #515151);

            font-family: Comfortaa;
            font-size: 17px;
            font-style: normal;
            font-weight: 700;
            line-height: 120%;

            margin-bottom: 20px;
        }

        .reservation-desc {
            color: var(--grey-dark, #515151);

            font-family: Comfortaa;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 120%;

            margin-bottom: 30px;
        }

        .start-search-button {
            cursor: pointer;

            display: flex;
            width: 250px;
            height: 56px;
            
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 10px;

            border-radius: 15px;
            border: 1px solid var(--blue, #08B1BD);
            
            background-color: #F6F6F6;
            color: var(--blue, #08B1BD);

            font-family: "Montserrat Alternates";
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;

            margin-bottom: 30px;
        }

        .divider {
            height: 1px;

            background-color: var(--Color-3, #AAA);

            margin-bottom: 20px;
        }
        
        .cant-find-reserv {
            display: flex;
            flex-direction: row;
            gap: 10px;
            .cf-header {
                color: var(--grey-dark, #515151);

                font-family: Comfortaa;
                font-size: 12px;
                font-style: normal;
                font-weight: 400;
                line-height: 120%; 
            }

            .to-faq {
                color: var(--Black, #252525);
                font-family: Comfortaa;
                font-size: 12px;
                font-style: normal;
                font-weight: 400;
                line-height: 120%; /* 14.4px */
                text-decoration-line: underline;

                cursor: pointer;
            }
        }
    }
}