@use '../../mixins/typography' as *;
@use '../../mixins/buttons' as *;

.help-center-page {
    min-width: 100vh;
    padding-top: 104px;

    .content-container {
        padding-left: 217px;
        padding-right: 217px;

        margin: 0px 100px;
        margin-bottom: -15px;

        border-radius: 15px;
        background: var(--white, #F6F6F6);

        display: flex;
        flex-direction: column;

        color: var(--blue, #08B1BD);
        font-family: "Montserrat Alternates";
        font-size: 22px;
        font-style: normal;
        font-weight: 700;
        line-height: 100%;

        .help-center-desc {
            display: flex;
            flex-direction: column;
            gap: 20px
        }

        .horizontal-divider {
            width: 100%;
            height: 1px;
            background-color: var(--Color-3, #AAA);

            margin-top: 80px;
            margin-bottom: 80px;
        }

        .help-title {
            margin-top: 80px;
            margin-bottom: 30px;

            color: var(--blue, #08B1BD);
            font-family: "Montserrat Alternates";
            font-size: 60px;
            font-style: normal;
            font-weight: 700;
            line-height: 60px; /* 100% */
        }

        .image-text-block {
            display: flex;
            flex-direction: row;

            gap: 20px;

            .image-block {
                width: 50%;

                img {
                    width: 100%;
                }
            }

            .text-block {
                width: 50%;

                display: flex;
                flex-direction: column;
                
                gap: 20px;

                .text-title {
                    color: var(--blue, #08B1BD);
                    /* Montser.Alt. 22 */
                    font-family: "Montserrat Alternates";
                    font-size: 22px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                }

                .text-desc-bold {
                    color: #515151;

                    text-align: justify;
                    font-family: "Montserrat Alternates";
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                    letter-spacing: -0.64px;

                }

                .text-desc {
                    color: #515151;

                    text-align: justify;
                    font-family: Comfortaa;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                }
            }
        }
        
        .mid-container {
            background: var(--background, #CAD3D9);

            margin: 80px -217px;
            padding: 80px 217px;

            align-items: center;

            color: #515151;

            font-family: "Montserrat Alternates";
            font-size: 22px;
            font-style: normal;
            font-weight: 700;
            line-height: 120%; /* 26.4px */
        }
        
        .panel-links {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: flex-start;
            align-items: stretch;
            align-content: flex-start;    

            gap: 20px;

            margin-top: 20px;

            .panel-link {
                width: calc(33% - 15px);
                height: 100px;
                padding: 30px 25px;
                display: flex;
                flex-direction: row;
                align-items: center;

                cursor: pointer;

                gap: 10px;

                border-radius: 15px;
                border: 1px solid var(--grey-light-100, #E6E6E6);
                background: var(--white, #F6F6F6);
                box-shadow: -26px 39px 13px 0px rgba(0, 0, 0, 0.00), -17px 25px 12px 0px rgba(0, 0, 0, 0.01), -9px 14px 10px 0px rgba(0, 0, 0, 0.05), -4px 6px 7px 0px rgba(0, 0, 0, 0.09), -1px 2px 4px 0px rgba(0, 0, 0, 0.10);

                color: var(--Orange-light, #FD941A);
                font-family: "Montserrat Alternates";
                font-size: 16px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
            }
        }

        .news-block {
        
            margin-bottom: 95px;

            .text-title {
                @include blue-heading-font(22px);
                margin: 0;
                margin-bottom: 30px;
            }
    
            .news-row {
                display: flex;
                flex-direction: row;
                gap: 20px;
    
                .news-item {
                    flex: 1;
                }
            }
    
            .button-row {            
                display: flex;
                flex-direction: row;
                justify-content: end;
                gap: 30px;
                margin-top: 30px;
    
                &__button {
                    cursor: pointer;
                    display: flex;
                    width: 52px;
                    height: 52px;
                    justify-content: center;
                    align-items: center;
    
                    border-radius: 48px;
                    border: 1px solid var(--Color-3, #AAA);
                    background: rgba(255, 255, 255, 0.03);
                    box-shadow: 0px 4px 4px 0px rgba(255, 255, 255, 0.05) inset, 0px 0px 68px 0px rgba(255, 255, 255, 0.15) inset;
                    backdrop-filter: blur(10px);
    
                    &--forward {
    
                        img {
                            transform: rotate(180deg);
                        }
                    }
                }
            }
        }
    }
}