@import url("../../app/fonts.scss");

.calendar-popup {
    position: absolute;
    left: 35px;
    top: 69px;

    // transition: visibility 0.3s ease;

    &.closed {
        visibility: collapse;
    }

    .calendar-popup-wrapper {
        position: relative;

        .calendar-popup-border {
            position: absolute;
            width: 100%;
            height: 100%;

            border-radius: 15px;
            border: 1px solid #fff;

            -webkit-mask-image: 
                radial-gradient(circle 24px at 0 calc(0% + 48px), transparent 95%, black 100%),
                radial-gradient(circle 24px at 100% calc(0% + 48px), transparent 95%, black 100%);
            mask-image: 
                radial-gradient(circle 24px at 0 calc(0% + 48px), transparent 95%, black 100%),
                radial-gradient(circle 24px at 100% calc(0% + 48px), transparent 95%, black 100%);

            mask-composite: intersect;
            -webkit-mask-composite: intersect;
        }

        .calendar-popup-panel {
            border-radius: 15px;
            background-color: rgba(81, 81, 81, 0.80);
            box-shadow: 0px 4px 4px 0px rgba(255, 255, 255, 0.05) inset, 0px 0px 68px 0px rgba(255, 255, 255, 0.15) inset;
            backdrop-filter: blur(24px);
            margin: 6px;
            padding: 30px;

            display: inline-flex;

            -webkit-mask-image: radial-gradient(circle 24px at -7px calc(0% + 42px), transparent 95%, black 100%),
                      radial-gradient(circle 24px at calc(100% + 7px) calc(0% + 42px), transparent 95%, black 100%);
                      
            mask-image: radial-gradient(circle 24px at -7px calc(0% + 42px), transparent 95%, black 100%),
                        radial-gradient(circle 24px at calc(100% + 7px) calc(0% + 42px), transparent 95%, black 100%);
            
            mask-composite: intersect;
            -webkit-mask-composite: intersect;

            .calendar-section {

                .month-header {
                    color: #08B1BD;
                    font-family: "Montserrat Alternates";
                    font-size: 22px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                    text-align: center;
                    
                    margin-bottom: 20px;
                }

                .days-table {
                    display: flex;
                    flex-direction: column;

                    .days-header {
                        display: flex;
                        flex-direction: row;
                        gap: 6px;
                        margin-bottom: 10px;

                        div {
                            width: 32px;
                            height: 24px;
                            display: flex;
                            justify-content: center;
                            align-items: center;

                            color: #FD941A;
                            text-align: center;

                            font-family: 'Comfortaa';
                            font-size: 16px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: normal;
                        }
                    }

                    .days-body {
                        display: flex;
                        flex-direction: column;
                        gap: 2px;

                        .days-row {
                            display: flex;
                            flex-direction: row;
                            gap: 6px;

                            div {
                                width: 32px;
                                height: 24px;
                                display: flex;
                                justify-content: center;
                                align-items: center;

                                color:  #F6F6F6;
                                text-align: center;
                                font-family: Comfortaa;
                                font-size: 14px;
                                font-style: normal;
                                font-weight: 400;
                                line-height: normal;

                                &.orange-start {
                                    position: relative;
                                    border-radius: 5px 0px 0px 5px;
                                    background: radial-gradient(50% 50% at 50% 50%, #FD941A 0%, #FC712C 100%);
                    
                                    &::before {
                                        content: '';
                                        position: absolute;
                                        top: 0;
                                        left: 100%;
                                        width: 6px;
                                        height: 100%;
                                        background: rgba(253, 148, 26, 0.50);
                                        box-shadow: 0px 27px 38px -19px rgba(255, 255, 255, 0.15) inset;
                                    }
                                }

                                &.orange-middle {
                                    position: relative;
                                    background: rgba(253, 148, 26, 0.50);
                                    box-shadow: 0px 4px 4px 0px rgba(255, 255, 255, 0.15) inset;
                    
                                    &::before {
                                        content: '';
                                        position: absolute;
                                        top: 0;
                                        left: 100%;
                                        width: 6px;
                                        height: 100%;
                                        background: rgba(253, 148, 26, 0.50);
                                        box-shadow: 0px 27px 38px -19px rgba(255, 255, 255, 0.15) inset;
                                    }
                                }

                                &.orange-end {
                                    position: relative;
                                    border-radius: 0px 5px 5px 0px;
                                    background: radial-gradient(50% 50% at 50% 50%, #FD941A 0%, #FC712C 100%);
                                }

                                &.orange-single {
                                    position: relative;
                                    border-radius: 5px;
                                    background: radial-gradient(50% 50% at 50% 50%, #FD941A 0%, #FC712C 100%);
                                }

                                &.available {
                                    cursor: pointer;
                                }

                                &.available:hover {
                                    border-radius: 5px;
                                    border: 1px solid var(--orange, #FD941A);
                                }
                                
                                &.current {
                                    color: #08B1BD;
                                }
                            }
                        }
                    }
                }
            }

            .divider {
                flex: 1;
                width: 1px;
                margin: 15px 30px;
                background-color: #08B1BD;
            }
        }

        .calendar-popup-close {
            cursor: pointer;

            position: absolute;

            top: calc(0% + 31px);
            left: calc(0% - 17px);

            width: 34px;
            height: 34px;
            border-radius: 17.5px;
            border: 1px solid var(--white, #F6F6F6);
            background: var(--grey-80, rgba(81, 81, 81, 0.80));
            box-shadow: 0px 4px 4px 0px rgba(255, 255, 255, 0.05) inset, 0px 0px 68px 0px rgba(255, 255, 255, 0.15) inset;
            backdrop-filter: blur(24px);
            
            display: inline-flex;
            align-items: center;
            justify-content: center;

            svg {
                width: 45%;
                height: 45%;
            }
        }

        .calendar-popup-next {
            cursor: pointer;

            position: absolute;

            top: calc(0% + 31px);
            left: calc(100% - 17px);

            transform: rotate(90deg);

            width: 34px;
            height: 34px;
            border-radius: 17.5px;
            border: 1px solid var(--white, #F6F6F6);
            background: var(--grey-80, rgba(81, 81, 81, 0.80));
            box-shadow: 0px 4px 4px 0px rgba(255, 255, 255, 0.05) inset, 0px 0px 68px 0px rgba(255, 255, 255, 0.15) inset;
            backdrop-filter: blur(24px);
            
            display: inline-flex;
            align-items: center;
            justify-content: center;

            img {
                width: 45%;
            }
        }
    }
}