@import url('../../app/fonts.scss');

#home-page {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), url("../../../assets/bg-home.jpg");
    background-repeat: no-repeat;
    background-size: 100vw;

    padding-top: 104px;
    display: flex;
    margin: 10px;
    border-radius: 20px;
    
    #content-container {
        flex: 1;
        margin: 0 90px;
        display: flex;
        flex-direction: column;
        align-items: end;

        @media screen and (max-width: 1280px) {
           margin: 0;
        }
    }

    #first-container {
        align-items: flex-end;
        justify-content: end;
    }

    .floor-container {
        display: flex;
        height: 90vh;

        @media screen and (max-width: 1600px) {
            height: 80vh;
        }

        @media screen and (max-width: 1280px) {
            height: 90vh;
        }

        @media screen and (max-width: 1040px) {
            height: 90vh;
        }
    }

    #main-caption {
        width: 70%;
        color: #f6f6f6;
        font-family: "Montserrat Alternates";
        font-size: 120px;
        font-style: normal;
        font-weight: 700;
        line-height: 91.667%;
        text-align: right;

        margin-bottom: 80px;

        @media screen and (max-width: 1600px) {
            font-size: 100px;
        }

        @media screen and (max-width: 1280px) {
            width: 90%;
        }

        @media screen and (max-width: 1040px) {
            width: 100%;
        }
    }
}