@use '../../mixins/typography' as *;

.languages-filter {
    &__header {
        @include font-white-montserrat(16px, 700);
        margin: 0;
        margin-bottom: 20px;
    }

    &__list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        row-gap: 20px;
        column-gap: 40px;

        .language-item {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: start;
            height: 24px;
            width: calc(50% - 20px);

            &__label {
                @include font-white(16px, 400);
                width: 75%;
                height: 100%;
                display: flex;
                align-items: center;
            }
        }
    }
}