.dropdown {
    position: relative;
    display: inline-block;

    padding-bottom: 6px;
    border-bottom: 1px solid #08B1BD;
  }
  
  .dropdown-toggle {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .dropdown-menu {
    position: absolute;
    top: calc(100% + 5px);
    left: 0;
  }
  
  .dropdown-item {
    cursor: pointer;
  }
  
  .arrow {
    transition: transform 0.3s ease;
    transform: rotate(90deg);
    &.opened {
      transform: rotate(0deg);
    }
  }