@font-face {
    font-family: 'OrchideaFont';
    src: url('../../assets/fonts/OrchideaPro/OrchideaPro-Medium.eot');
    src: url('../../assets/fonts/OrchideaPro/OrchideaPro-Medium.eot?#iefix') format('embedded-opentype'),
        url('../../assets/fonts/OrchideaPro/OrchideaPro-Medium.woff2') format('woff2'),
        url('../../assets/fonts/OrchideaPro/OrchideaPro-Medium.woff') format('woff'),
        url('../../assets/fonts/OrchideaPro/OrchideaPro-Medium.ttf') format('truetype'),
        url('../../assets/fonts/OrchideaPro/OrchideaPro-Medium.svg#OrchideaFont') format('svg');

    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OrchideaFont';
    src: url('../../assets/fonts/OrchideaPro/Italic/OrchideaPro-MediumItalic.eot');
    src: url('../../assets/fonts/OrchideaPro/Italic/OrchideaPro-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('../../assets/fonts/OrchideaPro/Italic/OrchideaPro-MediumItalic.woff2') format('woff2'),
        url('../../assets/fonts/OrchideaPro/Italic/OrchideaPro-MediumItalic.woff') format('woff'),
        url('../../assets/fonts/OrchideaPro/Italic/OrchideaPro-MediumItalic.ttf') format('truetype'),
        url('../../assets/fonts/OrchideaPro/Italic/OrchideaPro-MediumItalic.svg#OrchideaFont') format('svg');

    font-weight: normal;
    font-style: italic;
}