@use '../../mixins/typography' as *;
@use '../../mixins/buttons' as *;

.agreement-payment-section {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;

    p {
        margin: 0;
        @include font-regular(16px, 400);

        .link {
            @include font-links-black(16px, 400);
        }
    }

    button {
        margin-top: 10px;
        @include button-blue();
    }
}