.phone-picker {
    display: flex;
    flex-direction: column;
    
    .code-picker {
        margin-bottom: 30px;
    }

    .phone-input {
        
    }

    .error-message {
        margin-top: 10px;
    }
}