@use '../../mixins/typography' as *;

.text-input-borderless {
    display: flex;
    flex-direction: column;
    position: relative;
    min-width: 0;
    padding: 0;
    margin: 0;
    border: 0;
    vertical-align: top;

    gap: 10px;

    .main-text-input-container {
        display: flex;
        flex-direction: row;
        gap: 10px;

        height: 40px;

        .icon {
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                width: 24px;
                height: 24px;
            }
            
        }

        .input-container {
            position: relative;
            display: flex;
            flex-direction: column;

            justify-content: center;

            height: 100%;

            .label-container {
                position: absolute;
                top: 0;
                left: 0;

                height: 100%;
                
                display: flex;
                align-items: center;

                .label {
                    @include font-regular(16px);

                    cursor: text;
                }
            }

            .input-borderless {
                background: none;
                border: 0;

                height: 100%;

                z-index: 2;

                @include font-regular(16px);

                overflow-y: hidden;

                // &.disabled {
                //     z-index: -1;
                // }

                resize: none;

                &:focus {
                    outline: none;
                }

                &:disabled {
                    cursor: text;
                }
            }
        }
    }

    .underline {
        width: 100%;
        height: 1px;
        background-color: #08B1BD;
    }
}